# Python Cruft
*.py[co]
.venv/
venv/

# Editor cruft
.idea/
*.sublime-*

# Tool cruft
.pytest_cache/
.test_cache/
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.py,cover
.mypy_cache/
.dmypy.json
dmypy.json
tasks.py

# Personal files
scratch/

# App Files
data.json
sankore.sqlite3